.header {
  background: url(../img/fundo.jpg) no-repeat center center/cover;
  height: 100vh;
}

.header__intro {
  display: grid;
  gap: 2rem;
  justify-content: center;
  align-content: center;
  height: 100%;
}

form {
  position: relative;
  width: 600px;
}

.header__form input {
  width: 100%;
  padding: 15px 20px;
  border-radius: 3px;
}

.header__form button {
  position: absolute;
  top: 15px;
  right: 15px;
  background: none;
  cursor: pointer;
}

.header__intro h1 {
  color: #fff;
  font-size: 4.5rem;
  text-transform: uppercase;
  text-align: center;
}

@media (max-width: 800px) {
  .header__intro h1 {
    font-size: 4rem;
  }

  form {
    position: relative;
    width: 450px;
  }
}

@media (max-width: 500px) {
  .header {
    height: 50vh;
  }

  .header__intro {
    align-content: space-between;
    padding: 30px 0;
  }

  form {
    width: 320px;
  }

  .header__intro h1 {
    font-size: 2rem;
    text-align: left;
  }
}
